# Projeto Técnicas de programação I

## Análise exploratória de Dados/Pandas

Nesse projeto trabalharemos com dados fictícios de investidores.

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### 1 - Carregando os arquivos de Investimento1, Investimento2 e Cadastro. Além da exibir a quantidade de linhas, colunas, e, informações de estatística descritiva de cada um desses DataFrames.

In [147]:
import pandas as pd
import numpy as np
import datetime as dt

In [148]:
invest_1 = pd.read_csv("./dataset/investimento_parte1.csv", sep=',') # Carregamento do CSV
invest_2 = pd.read_csv("./dataset/investimento_parte2.csv", sep=',') # Carregamento do CSV
cadastro = pd.read_csv("./dataset/cadastro.csv", sep=',')            # Carregamento do CSV


print(f"O DataFrame de Investimentos 1 possui {invest_1.shape[0]} linhas e {invest_1.shape[1]} colunas")
print(f"O DataFrame de Investimentos 2 possui {invest_2.shape[0]} linhas e {invest_2.shape[1]} colunas")
print(f"O DataFrame de Cadastros possui {cadastro.shape[0]} linhas e {cadastro.shape[1]} colunas")

O DataFrame de Investimentos 1 possui 20000 linhas e 12 colunas
O DataFrame de Investimentos 2 possui 24052 linhas e 12 colunas
O DataFrame de Cadastros possui 38754 linhas e 9 colunas

In [149]:
print('-'*29)
print('DataFrame de Investimentos 1')
print('-'*29)
print(invest_1.dtypes)

-----------------------------
DataFrame de Investimentos 1
-----------------------------
id          object
Salario     object
Perfil      object
Ativo01    float64
Ativo02    float64
Ativo03    float64
Ativo04    float64
Ativo05    float64
Ativo06    float64
Ativo07    float64
Nota1      float64
Nota2      float64
dtype: object

In [150]:
print('-'*29)
print('DataFrame de Investimentos 1')
print('-'*29)
display(invest_1.head(5))

-----------------------------
DataFrame de Investimentos 1
-----------------------------

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601

In [151]:
print('-'*29)
print('DataFrame de Investimentos 1')
print('-'*29)
display(invest_1.describe())

-----------------------------
DataFrame de Investimentos 1
-----------------------------

,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
count,15012.000000,16857.000000,16760.000000,13799.000000,16829.000000,9895.000000,20000.000000,18469.000000,18954.000000
mean,1125.757681,5148.243110,3139.165891,15136.440041,5281.172070,2317.491907,500.093471,50.098208,50.174113
std,217.080495,398.701012,394.175941,6946.544888,792.562796,239.180603,10.012402,28.952396,28.832285
min,800.070000,4500.090000,2500.010000,5000.810000,4000.140000,2000.040000,462.930000,0.003143,0.007864
25%,954.525000,4833.260000,2829.085000,9678.280000,4654.050000,2127.395000,493.320000,25.020373,25.134177
50%,1093.145000,5107.230000,3096.020000,14070.350000,5197.220000,2270.870000,500.130000,50.119452,50.242237
75%,1262.155000,5407.630000,3395.200000,19424.205000,5800.460000,2455.335000,506.892500,75.238847,74.877627
max,2068.590000,6817.340000,5212.550000,47467.730000,9052.260000,3610.050000,542.050000,99.996659,99.991247

In [152]:
print('-'*29)
print('DataFrame de Investimentos 2')
print('-'*29)
print(invest_2.dtypes)

-----------------------------
DataFrame de Investimentos 2
-----------------------------
id          object
Salario     object
Perfil      object
Ativo01    float64
Ativo02    float64
Ativo03    float64
Ativo04    float64
Ativo05    float64
Ativo06    float64
Ativo07    float64
Nota1      float64
Nota2      float64
dtype: object

In [153]:
print('-'*29)
print('DataFrame de Investimentos 2')
print('-'*29)
display(invest_2.head(5))

-----------------------------
DataFrame de Investimentos 2
-----------------------------

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000859,$51483.81,Agressivo,1273.95,5080.37,3565.44,NaN,5635.72,NaN,513.38,47.599278,7.057028
1,id0022202,$457.43,Conservador,1121.09,4927.51,3911.58,5511.7,5593.40,NaN,497.28,37.353757,61.516665
2,id0002056,$93245.46,Moderado,NaN,5283.71,2914.76,NaN,4707.33,NaN,499.06,98.895407,45.197866
3,id0005674,$3044.00,Agressivo,1353.76,5827.28,2998.24,16341.7,4712.65,2007.44,515.10,50.658089,65.660735
4,id0004777,$880.30,Agressivo,NaN,5695.77,3525.98,NaN,4147.29,NaN,506.77,72.993882,55.530580

In [154]:
print('-'*29)
print('DataFrame de Investimentos 2')
print('-'*29)
display(invest_2.describe())

-----------------------------
DataFrame de Investimentos 2
-----------------------------

,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
count,17994.000000,20245.000000,20249.000000,16685.000000,20211.000000,11932.000000,24052.000000,22172.000000,22810.000000
mean,1129.080980,5146.837462,3141.053559,15163.012785,5286.059975,2320.358866,500.019744,49.654722,49.973616
std,219.747037,398.977137,396.580165,6993.738051,796.892363,241.972481,9.977632,28.913037,28.935261
min,800.010000,4500.050000,2500.010000,5000.930000,4000.250000,2000.040000,462.930000,0.003143,0.003341
25%,955.027500,4831.890000,2827.840000,9621.090000,4654.300000,2128.885000,493.260000,24.767894,25.015850
50%,1096.395000,5101.630000,3097.070000,14090.430000,5199.610000,2270.135000,500.120000,49.198346,49.747230
75%,1269.760000,5409.750000,3403.260000,19517.340000,5805.705000,2464.085000,506.760000,74.880010,75.164789
max,2143.050000,6990.260000,4899.990000,48744.740000,9052.260000,3639.650000,542.300000,99.991343,99.999535

In [155]:
print('-'*22)
print('DataFrame de Cadastro')
print('-'*22)
print(invest_2.dtypes)

----------------------
DataFrame de Cadastro
----------------------
id          object
Salario     object
Perfil      object
Ativo01    float64
Ativo02    float64
Ativo03    float64
Ativo04    float64
Ativo05    float64
Ativo06    float64
Ativo07    float64
Nota1      float64
Nota2      float64
dtype: object

In [156]:
print('-'*19)
print('DataFrame Cadastro')
print('-'*19)
display(cadastro.head(3))

-------------------
DataFrame Cadastro
-------------------

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF

In [157]:
print('-'*19)
print('DataFrame Cadastro')
print('-'*19)
display(cadastro.describe())

-------------------
DataFrame Cadastro
-------------------

              Idade
count  38754.000000
mean      25.716855
std       14.918449
min        0.000000
25%       13.000000
50%       26.000000
75%       39.000000
max       51.000000

### 2 - Concatenando os DataFrames de Investimentos em um único, e avaliando seu formato.

In [158]:
df = pd.concat([invest_1, invest_2], axis=0)
print(f"O DataFrame tem {df.shape[0]} linhas e {df.shape[1]} colunas")

O DataFrame tem 44052 linhas e 12 colunas

In [159]:
print('-'*22)
print('DataFrame Concatenado')
print('-'*22)
print(df.dtypes)

----------------------
DataFrame Concatenado
----------------------
id          object
Salario     object
Perfil      object
Ativo01    float64
Ativo02    float64
Ativo03    float64
Ativo04    float64
Ativo05    float64
Ativo06    float64
Ativo07    float64
Nota1      float64
Nota2      float64
dtype: object

In [160]:
print('-'*22)
print('DataFrame Concatenado')
print('-'*22)
display(df.head(3))

----------------------
DataFrame Concatenado
----------------------

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852

In [161]:
print('-'*22)
print('DataFrame Concatenado')
print('-'*22)
display(df.describe())

----------------------
DataFrame Concatenado
----------------------

,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
count,33006.000000,37102.000000,37009.000000,30484.000000,37040.000000,21827.000000,44052.000000,40641.000000,41764.000000
mean,1127.569456,5147.476107,3140.198704,15150.984269,5283.839172,2319.059166,500.053217,49.856261,50.064609
std,218.541220,398.846945,395.488971,6972.313317,794.921167,240.709559,9.993387,28.931417,28.888399
min,800.010000,4500.050000,2500.010000,5000.810000,4000.140000,2000.040000,462.930000,0.003143,0.003341
25%,954.840000,4832.372500,2828.360000,9642.485000,4654.190000,2127.900000,493.297500,24.869345,25.055410
50%,1094.980000,5103.905000,3096.610000,14077.200000,5198.910000,2270.380000,500.125000,49.669619,49.974322
75%,1266.590000,5408.705000,3399.270000,19492.590000,5802.727500,2460.395000,506.820000,75.038514,75.030167
max,2143.050000,6990.260000,5212.550000,48744.740000,9052.260000,3639.650000,542.300000,99.996659,99.999535

### 2.1 Avaliando a existencia de duplicatas

In [170]:
df.id.value_counts()

id0006135    2
id0027340    2
id0036408    2
id0038299    2
id0032261    2
            ..
id0013431    1
id0001498    1
id0026743    1
id0027752    1
id0027880    1
Name: id, Length: 38754, dtype: int64

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [ ]:
df = df.drop_duplicates()
df.to_csv("dataset\investimentos_full.csv", index=None)

In [ ]:
print(f"O DataFrame tem {df.shape[0]} linhas e {df.shape[1]} colunas")

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [ ]:
df_bkb = df.copy()

In [ ]:
df_bkb.shape

In [ ]:
df = df.merge(cadastro, how='inner', on='id')

In [ ]:
print(f"O DataFrame tem {df.shape[0]} linhas e {df.shape[1]} colunas")

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [ ]:
df = df.sort_values('id', ascending=True).reset_index(drop=True)

In [ ]:
df

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [ ]:
df.isnull().sum()

```As series compostas por NaN's serão preenchidas com o número 0, pois entendesse que ausência de um valor pode ser composta por 0```

In [ ]:
colunas = ["Ativo01", "Ativo02", "Ativo03", "Ativo04", "Ativo05", "Ativo06", "Ativo07"]
df[colunas] = df[colunas].fillna(0)

In [ ]:
df[['Nota1','Nota2']] = df[['Nota1','Nota2']].fillna(df[['Nota1','Nota2']].mean())

#ANALISAR POSTEIORMENTE

In [ ]:
df.isnull().sum()

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2


- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

In [ ]:
df.loc[:, "Total"] = df["Ativo01"] + df["Ativo02"] + df["Ativo03"] + df["Ativo04"] + df["Ativo05"] + df["Ativo06"] + df["Ativo07"]

In [ ]:
df.describe()

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?