# Projeto Técnicas de programação I

## Análise exploratória de Dados/Pandas

Nesse projeto trabalharemos com dados fictícios de investidores.

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

## 1 - Carregamento dos arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [132]:
import pandas as pd
import datetime as dt

In [133]:
invest_1 = pd.read_csv("./dataset/investimento_parte1.csv", sep=',') # Carregamento do CSV
invest_2 = pd.read_csv("./dataset/investimento_parte2.csv", sep=',') # Carregamento do CSV
cadastro = pd.read_csv("./dataset/cadastro.csv", sep=',')            # Carregamento do CSV


print(f"O DataFrame de Investimentos 1 possui {invest_1.shape[0]} linhas e {invest_1.shape[1]} colunas")
print(f"O DataFrame de Investimentos 2 possui {invest_2.shape[0]} linhas e {invest_2.shape[1]} colunas")
print(f"O DataFrame de Cadastros possui {cadastro.shape[0]} linhas e {cadastro.shape[1]} colunas")

O DataFrame de Investimentos 1 possui 20000 linhas e 12 colunas
O DataFrame de Investimentos 2 possui 24052 linhas e 12 colunas
O DataFrame de Cadastros possui 38754 linhas e 9 colunas

In [ ]:
print('-'*29)
print('DataFrame de Investimentos 1')
print('-'*29)
print(invest_1.dtypes)

In [ ]:
print('-'*29)
print('DataFrame de Investimentos 2')
print('-'*29)
print(invest_2.dtypes)

In [ ]:
print('-'*22)
print('DataFrame de Cadastro')
print('-'*22)
print(invest_2.dtypes)

In [ ]:
print('-'*12)
print('DataFrame 1')
print('-'*12)
display(invest_1.head(5))
print('-'*12)
print('DataFrame 2')
print('-'*12)
display(invest_2.head(5))

In [ ]:
print('-'*12)
print('DataFrame 1')
print('-'*12)
display(invest_1.describe())
print('-'*12)
print('DataFrame 2')
print('-'*12)
display(invest_2.describe())

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [134]:
df = pd.concat([invest_1, invest_2], axis=0)
print(f"O DataFrame tem {df.shape[0]} linhas e {df.shape[1]} colunas")

O DataFrame tem 44052 linhas e 12 colunas

In [ ]:
df.dtypes

In [ ]:
display(df.head(5))

In [ ]:
display(df.describe())

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [135]:
df = df.drop_duplicates()
df.to_csv("dataset\investimentos_full.csv")

In [136]:
print(f"O DataFrame tem {df.shape[0]} linhas e {df.shape[1]} colunas")

O DataFrame tem 38754 linhas e 12 colunas

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [ ]:
df_bkb = df.copy()

In [138]:
df_bkb.shape

(38754, 12)

In [137]:
df = df.merge(cadastro, how='inner', on='id')

In [139]:
print(f"O DataFrame tem {df.shape[0]} linhas e {df.shape[1]} colunas")

O DataFrame tem 38754 linhas e 20 colunas

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [140]:
df = df.sort_values('id', ascending=True).reset_index(drop=True)

In [142]:
df

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado
0,id0000001,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO
1,id0000002,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF
2,id0000003,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF
3,id0000004,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF
4,id0000005,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,$4993.49,Moderado,1001.01,5561.55,NaN,8454.99,NaN,2191.78,489.76,66.644257,6.462871,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS
38750,id0038751,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI
38751,id0038752,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.139610,22.742974,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR
38752,id0038753,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.385080,56.611838,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ
38753,id0038754,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [143]:
df.isnull().sum()

id              0
Salario         0
Perfil          0
Ativo01      9724
Ativo02      6100
Ativo03      6169
Ativo04     11887
Ativo05      6191
Ativo06     19514
Ativo07         0
Nota1        3000
Nota2        2000
Nome            0
Sexo            0
Nasc            0
Idade           0
Email           0
Lat_long        0
Job             0
Estado          0
dtype: int64

```As series compostas por NaN's serão preenchidas com o número 0, pois entendesse que ausência de um valor pode ser composta por 0```

In [144]:
colunas = ["Ativo01", "Ativo02", "Ativo03", "Ativo04", "Ativo05", "Ativo06", "Ativo07"]
df[colunas] = df[colunas].fillna(0)

In [148]:
df[['Nota1','Nota2']] = df[['Nota1','Nota2']].fillna(df[['Nota1','Nota2']].mean())

#ANALISAR POSTEIORMENTE

In [149]:
df.isnull().sum()

id          0
Salario     0
Perfil      0
Ativo01     0
Ativo02     0
Ativo03     0
Ativo04     0
Ativo05     0
Ativo06     0
Ativo07     0
Nota1       0
Nota2       0
Nome        0
Sexo        0
Nasc        0
Idade       0
Email       0
Lat_long    0
Job         0
Estado      0
dtype: int64

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2


- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

In [150]:
df.loc[:, "Total"] = df["Ativo01"] + df["Ativo02"] + df["Ativo03"] + df["Ativo04"] + df["Ativo05"] + df["Ativo06"] + df["Ativo07"]

In [152]:
df.describe()

,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Idade,Total
count,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000
mean,845.220878,4337.095701,2640.515840,10505.598580,4439.975773,1151.541631,500.052452,49.821094,50.075481,25.716855,24420.000853
std,524.568525,1909.955896,1204.864694,9084.714705,2068.665605,1172.059182,9.998218,27.758707,28.108756,14.918449,9674.695786
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,462.930000,0.003143,0.003341,0.000000,486.760000
25%,0.000000,4667.827500,2663.370000,0.000000,4320.465000,0.000000,493.300000,26.971102,26.504424,13.000000,16470.232500
50%,999.165000,5003.595000,2995.925000,10138.740000,4997.265000,0.000000,500.130000,49.821094,50.075481,26.000000,24065.910000
75%,1203.490000,5343.565000,3333.727500,16780.967500,5672.972500,2268.810000,506.830000,72.802601,73.598837,39.000000,31074.705000
max,2143.050000,6990.260000,5212.550000,48744.740000,9052.260000,3639.650000,542.300000,99.996659,99.999535,51.000000,64902.020000

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?